input[type="search"] {
  width: 25rem;
  padding: 3px;
}

.contact {
  text-align: center;
  padding: 20px;
}

.contact a {
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.image-product {
  align-items: center;
}
